<div style="margin-bottom: 10px">
    <input type="button" value="Числа" class="view_button" id="show_number" (click)="onSelect('number')">
    <input type="button" value="Векторы" class="view_button" id="show_vector" (click)="onSelect('vector')">
    <input type="button" value="Матрицы" class="view_button" id="show_matrix" (click)="onSelect('matrix')">
</div>
<!-- ЧИСЛА -->
<div class="number_calc" *ngIf="type === 'number'">
    <div style="display: inline-block">
        <h3 style="text-align: center;">Число 1</h3>
        <input type="text" class="number_input">
    </div>
    <div style="display: inline-block">
        <h3 style="text-align: center;">Число 2</h3>
        <input type="text" class="number_input">
    </div>
</div>
<!-- ВЕКТОРЫ -->
<div class="vector_calc" *ngIf="type === 'vector'">
    <div>
        <input type='button' id='increase_vector' class='calc_button' value='увеличить векторы' (click)="changeVector('inc')">
        <input type='button' id='decrease_vector' class='calc_button' value='уменьшить векторы' (click)="changeVector('dec')">
    </div>
    <div style="display: inline-block">
        <h3 style="text-align: center;">Вектор 1</h3>
        <div id="vector_1" class="vector">
            <input class="vector_input_1">
            <input class="vector_input_1">
            <input class="vector_input_1">
        </div>
    </div>
    <div style="display: inline-block">
        <h3 style="text-align: center;">Вектор 2</h3>
        <div id="vector_2" class="vector">
            <input class="vector_input_2">
            <input class="vector_input_2">
            <input class="vector_input_2">
        </div>
    </div>
</div>
<!-- МАТРИЦЫ -->
<div class="matrix_calc" *ngIf="type === 'matrix'">
    <div>
        <input type='button' id='increase_matrix' class='calc_button' value='увеличить матрицы' (click)="changeMatrix('inc')">
        <input type='button' id='decrease_matrix' class='calc_button' value='уменьшить матрицы' (click)="changeMatrix('dec')">
    </div>
    <div style="display: inline-block">
        <h3 style="text-align: center;">Матрица 1</h3>
        <div id="matrix_1" class="matrix">
            <input class="matrix_input">
            <input class="matrix_input">
            <input class="matrix_input">
            <br/>
            <input class="matrix_input">
            <input class="matrix_input">
            <input class="matrix_input">
            <br/>
            <input class="matrix_input">
            <input class="matrix_input">
            <input class="matrix_input">
            <br/>
        </div>
    </div>
    <div style="display: inline-block">
        <h3 style="text-align: center;">Матрица 2</h3>
        <div id="matrix_2" class="matrix">
            <input class="matrix_input">
            <input class="matrix_input">
            <input class="matrix_input">
            <br/>
            <input class="matrix_input">
            <input class="matrix_input">
            <input class="matrix_input">
            <br/>
            <input class="matrix_input">
            <input class="matrix_input">
            <input class="matrix_input">
            <br/>
        </div>
    </div>
</div>
<div class="calc_buttons">
    <input type='button' id='sum' class='calc_button' value='+' (click)="takeValues()">
    <input type='button' id='sub' class='calc_button' value='-'>
    <input type='button' id='mult' class='calc_button' value='*'>
    <input type='button' id='divis' class='calc_button' value='/'>
    <input type='button' id='scal_mult' class='calc_button' value='*(С)' *ngIf="type === 'vector' && vectorSize === 3">
    <input type='button' id='vect_mult' class='calc_button' value='*(В)' *ngIf="type === 'vector' && vectorSize === 3">
</div>
<div class="result_div">
    <h3>Результат</h3>
    <textarea id="result_area" rows="10" cols="45" readonly></textarea>
</div>